{% extends 'admin/layout.html.twig' %}

{% block title %}Réalisateurs{% endblock %}

{% block body %}
    <h1>Réalisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for director in directors %}
            <tr>
                <td>{{ director.id }}</td>
                <td>{{ director.name }}</td>
                <td>
                    <a href="{{ path('director_show', {'id': director.id}) }}">voir</a>
                    <a href="{{ path('director_edit', {'id': director.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('director_new') }}">Ajouter</a>
{% endblock %}
