{% extends 'admin/layout.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ book.author.name }}</td>
            </tr>
            <tr>
                <th>Date de parution</th>
                <td>{{ book.releaseDate ? book.releaseDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de pages</th>
                <td>{{ book.numPages }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.summary }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ book.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">retour vers la liste</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">éditer</a>

    {{ include('admin/book/_delete_form.html.twig') }}
{% endblock %}
